/**
 * Customized Horizontal CSS Drop-Down Menu for Moodle settings
 *
 * @file		awesomebar.css
 * @version		2.0
 * @browsers	Windows: IE7+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @author		Paul Nicholls
 * @Copyright   GNU GENERAL PUBLIC LICENSE Version 3.0
 */
/* Awesomebar - workings and structure */
.decaf-awesome-bar {left:0; width:100%; height:25px; z-index:999;}
#awesomebar {position:fixed; top:0;}
#awesomebar ul#awesomeHomeMenu > li {padding-bottom:0;}
#awesomebar ul#awesomeHomeMenu > li > span, #awesomebar ul#awesomeHomeMenu > li > a {padding-bottom:1px; padding-top:3px; height:20px;}
.decaf-awesome-bar ul, .decaf-awesome-bar li {list-style:none; margin:0; padding:0;}
.decaf-awesome-bar ul li {display:block;}
.decaf-awesome-bar > ul > li {float:left; padding:0;}
.decaf-awesome-bar > ul > li > span, .decaf-awesome-bar > ul > li > a, .decaf-awesome-bar > ul > li > span.customitem {padding:4px 8px;}
.decaf-awesome-bar li.clickable-with-children > a {padding:4px 2px 4px 19px;}
.decaf-awesome-bar ul.dropdown ul {display:none; width:200px; z-index:598;}
.decaf-awesome-bar ul.dropdown li {position:relative;}
.decaf-awesome-bar ul.dropdown li:hover > ul, .decaf-awesome-bar ul.dropdown li.extended-hover > ul {display:block; position:absolute; left:100%; top:-1px;}
.decaf-awesome-bar ul.dropdown > li:hover > ul, .decaf-awesome-bar ul.dropdown > li.extended-hover > ul {left:0; top:100%;}
.decaf-awesome-bar img.smallicon {margin-left:2px; margin-right:2px; width:16px; height:16px;}
.decaf-awesome-bar span, .decaf-awesome-bar a {display:block;}
.decaf-awesome-bar ul ul a, .decaf-awesome-bar ul ul span {height:16px; padding-top:1px; padding-bottom:1px;}
body #dock {top:26px; height:auto; bottom:0px;} /* Start dock at bottom of Awesomebar */

/* Awesomebar - appearance */
.decaf-awesome-bar {border-bottom: 1px solid #1a1a1a;}
.topadminsearchform{float:right;}
input#topadminsearchquery{border:1px solid #aaa; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; background:#fff url([[pix:theme|search_icon]]) no-repeat 2px 1px; width:200px; margin:4px 10px 2px 0; padding:1px 0 0 17px;}
.decaf-awesome-bar a, .decaf-awesome-bar a:visited, .decaf-awesome-bar a:hover, .decaf-awesome-bar a:link {color:#fff;}
.decaf-awesome-bar a:hover {background-color:#76b900;}
.decaf-awesome-bar, .decaf-awesome-bar li {background-color:#333; color:#fff;}
.decaf-awesome-bar li:hover {background-color:#595959;}
.decaf-awesome-bar ul ul li span, .decaf-awesome-bar li.clickable-with-children > a {padding:3px 20px; background-image:url([[pix:theme|nav-arrow-right]]); background-position:100% 50%; background-repeat:no-repeat;}
.decaf-awesome-bar ul ul a {display:block; height:100%; margin:0; vertical-align:top; padding-top:2px;}
.decaf-awesome-bar ul ul li:hover > span, .decaf-awesome-bar li.clickable-with-children:hover > a {background-image:url([[pix:theme|ab-arrowover]]);}
.decaf-awesome-bar ul ul li:hover > span {cursor:default;}
.decaf-awesome-bar li {border-color:#404040 #1a1a1a #1a1a1a #505050; border-style:solid; border-width:1px;}

/* Custom menu */
#custommenu {position:relative; z-index:998;}
#custommenu > ul > li > span.customitem, #custommenu > ul > li > a.customitem-no-children {padding:3px 8px 2px 8px; height:19px;}
.decaf-awesome-bar span.customitem {padding-left:4px;}
.decaf-awesome-bar span.customitem > a {padding:0;}
.decaf-awesome-bar a.customitem-no-children {padding:3px 4px;}
#custommenu a.customitem-no-children {padding:2px 4px 1px 4px;}
.decaf-awesome-bar > ul > li > a.customitem-no-children {padding:4px 8px;}
.decaf-awesome-bar ul.decaf-custom-menu span a:hover {background-color:transparent;}
.decaf-awesome-bar ul.decaf-custom-menu li:hover > span.customitem {background-color:#76b900;}
.decaf-awesome-bar ul.decaf-custom-menu li:hover > span.customitem.customitem-nolink {background-color:#595959; cursor:default;}

/* z-index overrides to prevent other things sitting on top of Awesomebar */
.filepicker-filelist .filepicker-container, .filemanager.fm-noitems .fm-empty-container {z-index:300;}