.block{border-style:none;}
.block .calendar-controls .previous {background:transparent url([[pix:theme|previous]]) no-repeat left top; height:19px;}
.block .calendar-controls .next {background:transparent url([[pix:theme|next]]) no-repeat right top;}
.block .header{border-color:#EEE;border-width:0 1px;}
.block .header h2{background:#EEE url([[pix:theme|bg-header]]) repeat-x scroll bottom center;color:#555;font-family:"Droid Sans",Helvetica,Arial,sans-serif;font-size:16px;letter-spacing:-0.5px;line-height:30px;text-shadow:0 1px 0 #DDD;text-transform:uppercase;}
.block .header .block_action{margin:4px 5px;}
.block .commands{clear:both;height:16px;padding:4px;}
.block .content{padding:5px 10px;}
.block_login label{font-size:0.85em;display:block;}
.block_login .fld input{width:95%;margin:1px 0 5px;padding:2px;}
.block_login .btn{padding:4px 0;}
.block_login .footer{font-size:0.9em;padding:5px 0 3px;}
.block_calendar_month .content{padding:5px;}
.block_course_summary .content{padding:10px;}