/*-----------------------------------------------------------------------------------|
|--------------LEFT--------------------MIDDLE-------------------RIGHT----------------|
|--------------210px--------------------------------------------210px----------------|
|----------------------------------------------------------------------------------- */
#page-content #region-main-box{left:210px;}
#page-content #region-main-box #region-post-box{margin-left:-425px;padding-top:5px;}
#page-content #region-main-box #region-post-box #region-main-wrap #region-main{margin-left:420px;padding:0 15px;}
#page-content #region-main-box #region-post-box #region-pre{width:210px;background:transparent url([[pix:theme|main-divider]]) repeat-y scroll right center;padding-right:5px;}
#page-content #region-main-box #region-post-box #region-post{width:210px;background:transparent url([[pix:theme|main-divider]]) repeat-y scroll left center;padding-left:5px;}
#page-content #region-main-box .region-content{padding:0;}
.side-pre-only #page-content #region-main-box #region-post-box,.side-post-only #page-content #region-main-box #region-post-box{margin-left:-210px;}
.side-pre-only #page-content #region-main-box #region-post-box #region-main-wrap #region-main,.side-post-only #page-content #region-main-box #region-post-box #region-main-wrap #region-main,.has_dock.side-post-only .page-middle #region-main-box #region-post-box #region-main-wrap #region-main{margin-left:210px;}

/** Custom CSS **/
[[setting:customcss]]